$primary1: #0066CC;
$primary2: #FF9900;
$primary3: #FF3300;
$primary4: #009900;
$primary5: #990066;

$neutral1: white;
$neutral2: #EEEEEE;
$neutral3: #B5B5B5;
$neutral4: #999999;
$neutral5: #666666;
$neutral6: black;

$primary-color: #6A5ACD;
$cream-color: #f9f9f9;