@using Ariana.Logic.Models
@using Ariana.Umbraco.Helpers

@inherits UmbracoViewPage<Ariana.Logic.Models.GenericPage>

<h1> Generic Page </h1>

@Html.NestedContent(Model.Modules, null, "~/Views/Partials/Modules/")