@using Ariana.Logic.Models
@using Ariana.Umbraco.Helpers
@model NavigationSettings

@if (Model != null && Model.PrimaryNavigation != null)
{
    <ul>
        @foreach (LinkMenuItem primaryMenuItem in Model.PrimaryNavigation.Children<LinkMenuItem>())
        {
            <li>
                 @primaryMenuItem.Link.Url
            </li>

        }
    </ul>
}