<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT iModules ANY>
<!ATTLIST iModules id ID #REQUIRED>
<!ELEMENT contentModule ANY>
<!ATTLIST contentModule id ID #REQUIRED>
<!ELEMENT imageModule ANY>
<!ATTLIST imageModule id ID #REQUIRED>
<!ELEMENT settings ANY>
<!ATTLIST settings id ID #REQUIRED>
<!ELEMENT htmlInjectorSettings ANY>
<!ATTLIST htmlInjectorSettings id ID #REQUIRED>
<!ELEMENT error404 ANY>
<!ATTLIST error404 id ID #REQUIRED>
<!ELEMENT robotsTxt ANY>
<!ATTLIST robotsTxt id ID #REQUIRED>
<!ELEMENT iXmlSitemap ANY>
<!ATTLIST iXmlSitemap id ID #REQUIRED>
<!ELEMENT genericPage ANY>
<!ATTLIST genericPage id ID #REQUIRED>
<!ELEMENT iMeta ANY>
<!ATTLIST iMeta id ID #REQUIRED>
<!ELEMENT libraries ANY>
<!ATTLIST libraries id ID #REQUIRED>
<!ELEMENT linkMenuFolder ANY>
<!ATTLIST linkMenuFolder id ID #REQUIRED>
<!ELEMENT linkMenuItem ANY>
<!ATTLIST linkMenuItem id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT iNavigation ANY>
<!ATTLIST iNavigation id ID #REQUIRED>
<!ELEMENT navigationRoot ANY>
<!ATTLIST navigationRoot id ID #REQUIRED>
]>
<root id="-1">
  <site id="1069" key="d5c84ba8-2fd1-4503-9bfb-29b9ffb9884a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-17T14:49:39" updateDate="2018-08-17T14:49:39" nodeName="Test Site" urlName="test-site" path="-1,1069" isDoc="" nodeType="1060" creatorName="sanjay" writerName="sanjay" writerID="0" template="0" nodeTypeAlias="site" isPublished="true">
    <home id="1070" key="16abaf89-1da2-4274-8571-4d93c224be99" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2018-08-17T14:50:42" updateDate="2018-12-19T15:54:45" nodeName="Home" urlName="home" path="-1,1069,1070" isDoc="" nodeType="1063" creatorName="sanjay" writerName="sanjay" writerID="0" template="1062" nodeTypeAlias="home" isPublished="true">
      <changeFrequency><![CDATA[Daily]]></changeFrequency>
      <priority><![CDATA[0.3]]></priority>
      <excludeFromXmlSitemap>0</excludeFromXmlSitemap>
      <modules><![CDATA[[{"key":"e5715afa-24e4-4d7c-a942-145a2ffe9bf9","name":"Content \"This is test\"","ncContentTypeAlias":"contentModule","title":"This is test","content":"<h2>Insert Dummy Text in Microsoft Word</h2>\n<p>If you are working inside Microsoft Word and need some filler text to test the layout of fonts and other design elements of your document, there’s no need to hunt for an online generator as you can create “Lorem Ipsum” inside Word itself. Here’s how:</p>"},{"key":"f9e86192-bd82-48b1-ae66-3a6afac36fb3","name":"Content \"my image\"","ncContentTypeAlias":"imageModule","title":"my image","image":"umb://media/58a86d87b52842b7b78b34ca172c4c16"},{"key":"47610877-a585-4e01-9de9-f49a0e9c36a1","name":"Content \"Purnima Document\"","ncContentTypeAlias":"contentModule","title":"Purnima Document","content":"<p>Purnima is my love</p>"}]]]></modules>
      <error404 id="1081" key="131a6eb4-2dd6-4daa-a0d1-0e91d96c5e05" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2018-08-28T17:32:12" updateDate="2018-08-28T17:32:26" nodeName="Error Page" urlName="error-page" path="-1,1069,1070,1081" isDoc="" nodeType="1080" creatorName="sanjay" writerName="sanjay" writerID="0" template="1079" nodeTypeAlias="error404" isPublished="true">
        <modules><![CDATA[[{"key":"c7af833d-7989-4261-bb1a-64a458b3e8ef","name":"Content \"\"","ncContentTypeAlias":"contentModule","title":"Error 404 Encountered","content":""}]]]></modules>
      </error404>
      <robotsTxt id="1085" key="14b3a898-f4ab-4e40-a556-32f8b865f751" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2018-08-28T22:20:41" updateDate="2018-08-28T22:20:41" nodeName="Robots File" urlName="robots-file" path="-1,1069,1070,1085" isDoc="" nodeType="1084" creatorName="sanjay" writerName="sanjay" writerID="0" template="1083" nodeTypeAlias="robotsTxt" isPublished="true">
        <content><![CDATA[test robot]]></content>
      </robotsTxt>
      <genericPage id="1092" key="fb779537-fac2-43e0-9dee-5a1466dd6609" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2018-08-29T22:29:28" updateDate="2018-08-30T22:51:10" nodeName="About Us" urlName="about-us" path="-1,1069,1070,1092" isDoc="" nodeType="1091" creatorName="sanjay" writerName="sanjay" writerID="0" template="1090" nodeTypeAlias="genericPage" isPublished="true">
        <modules><![CDATA[[{"key":"75a99ef7-2516-405d-86d5-70e4192c168d","name":"Content \"Tell Me About Me\"","ncContentTypeAlias":"contentModule","title":"Tell Me About Me","content":"<p>This is the generic page</p>"}]]]></modules>
        <changeFrequency><![CDATA[Yearly]]></changeFrequency>
        <priority><![CDATA[0]]></priority>
        <excludeFromXmlSitemap>0</excludeFromXmlSitemap>
      </genericPage>
    </home>
    <settings id="1076" key="0035d20b-37df-4c32-ae73-37d7d5031b45" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2018-08-22T17:16:06" updateDate="2018-12-20T15:28:31" nodeName="Settings" urlName="settings" path="-1,1069,1076" isDoc="" nodeType="1073" creatorName="sanjay" writerName="sanjay" writerID="0" template="0" nodeTypeAlias="settings" isPublished="true">
      <topNavigation><![CDATA[umb://document/c03993a351814a7d84942b9ae5ac7cc7]]></topNavigation>
      <htmlInjectorSettings id="1078" key="2338e9d3-873e-4cec-a12c-59026d74a39a" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2018-08-28T14:41:52" updateDate="2018-08-28T14:42:04" nodeName="Html Injection Code" urlName="html-injection-code" path="-1,1069,1076,1078" isDoc="" nodeType="1075" creatorName="sanjay" writerName="sanjay" writerID="0" template="0" nodeTypeAlias="htmlInjectorSettings" isPublished="true">
        <head><![CDATA[<script> Hello Script </script>]]></head>
      </htmlInjectorSettings>
    </settings>
    <libraries id="1127" key="c74eace4-81c3-4711-932a-9f65807379ed" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2018-12-20T15:02:41" updateDate="2018-12-20T15:02:41" nodeName="Library" urlName="library" path="-1,1069,1127" isDoc="" nodeType="1102" creatorName="sanjay" writerName="sanjay" writerID="0" template="0" nodeTypeAlias="libraries" isPublished="true">
      <navigationRoot id="1129" key="63fcdd27-64ed-471d-8cbf-cbde6f312cc3" parentID="1127" level="3" creatorID="0" sortOrder="0" createDate="2018-12-20T15:10:14" updateDate="2018-12-20T15:10:14" nodeName="Site Navigation" urlName="site-navigation" path="-1,1069,1127,1129" isDoc="" nodeType="1121" creatorName="sanjay" writerName="sanjay" writerID="0" template="0" nodeTypeAlias="navigationRoot" isPublished="true">
        <navigationRoot id="1130" key="c03993a3-5181-4a7d-8494-2b9ae5ac7cc7" parentID="1129" level="4" creatorID="0" sortOrder="0" createDate="2018-12-20T15:10:34" updateDate="2018-12-20T15:10:34" nodeName="Top Navigation" urlName="top-navigation" path="-1,1069,1127,1129,1130" isDoc="" nodeType="1121" creatorName="sanjay" writerName="sanjay" writerID="0" template="0" nodeTypeAlias="navigationRoot" isPublished="true">
          <linkMenuFolder id="1131" key="8859eb8c-3c4c-468f-a1e6-4eeb09a3f384" parentID="1130" level="5" creatorID="0" sortOrder="0" createDate="2018-12-20T15:10:50" updateDate="2018-12-20T15:10:50" nodeName="Plan" urlName="plan" path="-1,1069,1127,1129,1130,1131" isDoc="" nodeType="1104" creatorName="sanjay" writerName="sanjay" writerID="0" template="0" nodeTypeAlias="linkMenuFolder" isPublished="true" />
          <linkMenuItem id="1132" key="c74c3beb-ef75-446d-87d7-87afa9a0713d" parentID="1130" level="5" creatorID="0" sortOrder="1" createDate="2018-12-20T15:10:58" updateDate="2018-12-20T15:11:08" nodeName="Explore" urlName="explore" path="-1,1069,1127,1129,1130,1132" isDoc="" nodeType="1105" creatorName="sanjay" writerName="sanjay" writerID="0" template="0" nodeTypeAlias="linkMenuItem" isPublished="true">
            <title><![CDATA[Explore]]></title>
            <link><![CDATA[{
  "id": 0,
  "name": "",
  "url": "/",
  "target": "_self",
  "hashtarget": ""
}]]></link>
          </linkMenuItem>
        </navigationRoot>
      </navigationRoot>
    </libraries>
  </site>
</root>