<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT iMeta ANY>
<!ATTLIST iMeta id ID #REQUIRED>
<!ELEMENT iModules ANY>
<!ATTLIST iModules id ID #REQUIRED>
<!ELEMENT iXmlSitemap ANY>
<!ATTLIST iXmlSitemap id ID #REQUIRED>
<!ELEMENT libraries ANY>
<!ATTLIST libraries id ID #REQUIRED>
<!ELEMENT contentModule ANY>
<!ATTLIST contentModule id ID #REQUIRED>
<!ELEMENT imageModule ANY>
<!ATTLIST imageModule id ID #REQUIRED>
<!ELEMENT linkMenuFolder ANY>
<!ATTLIST linkMenuFolder id ID #REQUIRED>
<!ELEMENT linkMenuItem ANY>
<!ATTLIST linkMenuItem id ID #REQUIRED>
<!ELEMENT error404 ANY>
<!ATTLIST error404 id ID #REQUIRED>
<!ELEMENT genericPage ANY>
<!ATTLIST genericPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT robotsTxt ANY>
<!ATTLIST robotsTxt id ID #REQUIRED>
<!ELEMENT settings ANY>
<!ATTLIST settings id ID #REQUIRED>
<!ELEMENT htmlInjectorSettings ANY>
<!ATTLIST htmlInjectorSettings id ID #REQUIRED>
<!ELEMENT navigationSettings ANY>
<!ATTLIST navigationSettings id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
<!ELEMENT iNavigation ANY>
<!ATTLIST iNavigation id ID #REQUIRED>
]>
<root id="-1">
  <site id="1091" key="b7d5def4-8a17-4ca3-b6c1-c16db97fe3a1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-03-19T21:21:19" updateDate="2019-03-19T21:21:19" nodeName="ariana.cms" urlName="arianacms" path="-1,1091" isDoc="" nodeType="1083" creatorName="Sanjay Bajracharya" writerName="Sanjay Bajracharya" writerID="0" template="0" nodeTypeAlias="site" isPublished="true">
    <home id="1092" key="ed3884f7-3952-478a-9dd6-04b11766e153" parentID="1091" level="2" creatorID="0" sortOrder="0" createDate="2019-03-19T21:21:28" updateDate="2019-03-19T21:21:28" nodeName="en" urlName="en" path="-1,1091,1092" isDoc="" nodeType="1076" creatorName="Sanjay Bajracharya" writerName="Sanjay Bajracharya" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
      <priority><![CDATA[0]]></priority>
      <excludeFromXmlSitemap>0</excludeFromXmlSitemap>
      <genericPage id="1093" key="86c07e7e-42e1-4e80-b4dd-ba2674551ac5" parentID="1092" level="3" creatorID="0" sortOrder="0" createDate="2019-03-19T21:22:36" updateDate="2019-03-19T21:25:26" nodeName="Umbraco ReInstall" urlName="umbraco-reinstall" path="-1,1091,1092,1093" isDoc="" nodeType="1075" creatorName="Sanjay Bajracharya" writerName="Sanjay Bajracharya" writerID="0" template="1059" nodeTypeAlias="genericPage" isPublished="true">
        <modules><![CDATA[[{"key":"0dcde890-cba9-456d-b1a1-6e250d84424f","name":"Content \"\"","ncContentTypeAlias":"contentModule","title":"Umbraco ReInstall","content":""}]]]></modules>
        <priority><![CDATA[0]]></priority>
        <excludeFromXmlSitemap>0</excludeFromXmlSitemap>
      </genericPage>
    </home>
    <settings id="1094" key="251927c5-440e-455a-90ae-fbf5180a7da7" parentID="1091" level="2" creatorID="0" sortOrder="1" createDate="2019-03-19T21:38:51" updateDate="2019-03-19T21:38:51" nodeName="Settings" urlName="settings" path="-1,1091,1094" isDoc="" nodeType="1079" creatorName="Sanjay Bajracharya" writerName="Sanjay Bajracharya" writerID="0" template="0" nodeTypeAlias="settings" isPublished="true" />
  </site>
</root>