#hero-banner {
    height: 400px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .title {
        position: relative;
        top: 40%;
        text-align: center;
        h1 {
            color: white;
            text-shadow: 2px 2px 5px $bgGreen;
        }
    }
    @media (min-width: 768px) {
        height: 600px;

        .title {
            h1 {
                font-size: 48px;
                line-height: 52px;
            }
        }
    }
}