#topNavigation {
    background: #005C48;
    position: relative;

    ul {
        color: white;
        text-align: center; // display: none;
        -webkit-transition: max-height 0.4s;
        -ms-transition: max-height 0.4s;
        -moz-transition: max-height 0.4s;
        -o-transition: max-height 0.4s;
        transition: max-height 0.4s;
        display: none;
        border-top: 2px solid white;
    }
    li {
        list-style-type: none;
        padding: 9px;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        &:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid white;
        }
    }
    .handle {
        display: block;
        background-color: #005C48;
        box-sizing: border-box;
        padding: 15px;
        cursor: pointer;
        color: white;
        float: left;
    }
    .menu-icon {
        div {
            background-color: white;
            border-radius: 2px;
            width: 35px;
            height: 5px;
            margin: 5px;
        }
    }
    .dropdown .dropbtn {
        text-transform: uppercase;
        margin: 0;
        color: #ffffff;
        border: none;
        outline: none;
        background-color: inherit;
        font-family: inherit;
        font-weight: bold;
        cursor: pointer;
        padding-bottom: 18px;
    }
    .dropdown-content {
        display: none;
        color: white;

        a {
            float: none;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            color: white;
            white-space: nowrap;

            &:hover {
                color: $bgGreen;
                border-bottom: 0;
            }
        }
    }
    .brand {
        text-align: center;
        color: white;
        position: relative;
        padding: 12px 0;
        margin-left: 80px;
    }

    @media(min-width: 768px) {
        background: hotpink;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;

        background: none;
        .brand {
            margin-left: 0;
            float: left;
            padding-left: 15px;
        }
        ul {
            display: block;
        }
        .menu-icon {
            display: none;
        }
        li {
            display: inline-block;
            padding: 20px;
        }
        .handle {
            width: 100%;
            background-color: #005C48;
            box-sizing: border-box;
            padding: 15px;
            cursor: pointer;
            color: white;
            display: none;
            float: none;
        }

        .dropdown {
            position: relative;

            &:hover{
                .dropdown-content{
                    display: block;
                }
            }
        }
        
        .dropdown-content {
            left: 0;
            display: none;
            position: absolute;
            background-color: $cream-color;
            border-radius: 6px;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            color: white;
            a {
                float: none;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                color: $bgGreen;
                &:hover {
                    color: $primary-color;
                    border-bottom: 0;
                }
            }
        }
    }
}