@using Ariana.Extensions
@using Ariana.Logic.Models
@using Ariana.Models.DocumentTypes.Navigation
@using Ariana.Umbraco.CMS.Models
@using Ariana.Umbraco.Helpers
@using Arina.Logic.Models
@using Our.Umbraco.Ditto

@{
    Settings siteSetting = ContentHelper.Instance.GetSiteSettings();
}

<nav id="primary-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="brand">
                    <h2>Ariana </h2>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="inner-wrap">
                    <ul>
                        @foreach (IPublishedContent topMenu in siteSetting.TopNavigation.Children)
                        {
                            if (topMenu.DocumentTypeAlias == "linkMenuItem")
                            {
                                LinkMenuItem menuItem = topMenu.As<LinkMenuItem>();

                                <li>
                                    <a href="@menuItem.Link.Url">@menuItem.Title </a>
                                </li>
                            }
                            else if (topMenu.DocumentTypeAlias == "linkMenuFolder")
                            {
                                // Create dropdown list 
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>