@using Arina.Logic.Models

@model ContentModule

<div class="module module-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>@Model.Title</h3>
                @Model.Content
            </div>
        </div>
    </div>
</div>