@using Ariana.Umbraco.Helpers
@using Arina.Logic.Models
@using Our.Umbraco.Ditto

@model ContentModule

<h2>@Model.Title</h2>

@Model.Content



@{
    var homeId = ContentHelper.Instance.GetHomeId();
}