@using Ariana.Constants
@using Ariana.Umbraco.Helpers
@using Arina.Logic.Models
@using Our.Umbraco.Ditto

@model ImageModule

<div class="module module-image">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (Model.Image != null)
                {
                    <img src="@Model.Image.Url()"  alt="test" />

                    string imageMobile = Model.Image.GetCropUrl(AppSettings.ImageSizes.SixteenNineMobile);
                    string imageDesktop = Model.Image.GetCropUrl(AppSettings.ImageSizes.SixteenNineDesktop);

                    <picture>
                        <source srcset="@imageMobile" media="(min-width: 768px)">
                        <img srcset="@imageDesktop" alt="test">
                    </picture>
                }
            </div>
        </div>
    </div>
</div>


